<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ta.iqbal.ibakatel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".identifikasi.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tutorial.tutorial"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".identifikasi.QRCodeScanActivity" />
        <activity android:name=".tes.ScanResultActivity" />
        <activity android:name=".tes.ActivityTes"/>
        <activity android:name=".dtbarang.ActivityBarangAdmin" />
        <activity android:name=".dtbarang.ActivityBarangUser" />
        <activity
            android:name=".dtbarang.EditorActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".dtbarang.DetailBarangUser"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".about"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pinjam.ActivityPinjam" />
        <activity android:name=".pinjam.ActivityPinjamUser" />
        <activity android:name=".laporan.ActivityLaporan" />
        <activity android:name=".laporan.EditorActivity"
                  android:theme="@style/EditorTheme" />
        <activity
            android:name=".pinjam.EditorActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".pinjam.EditorActivityUser"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityAdmin" />
        <activity android:name=".ActivityUser" />
        <activity
            android:name=".identifikasi.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identifikasi.TicketResultActivity"
            android:label="@string/title_activity_ticket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>